* {
    margin: 0;
    padding: 0;
}


body {
    /* more on this crazy alphanumerical value in a minute! */
    Color: #39a6b2;

    Font-family: Helvtica, arial, sans-serif;
    
    }

    Header {
        padding: 20px 35px;
    
    background-color: #39a6b2;
    }

    header h1 {
        Font-weight: bold;
        font-size: 36px;
        color:#fce138;
        margin: 0;
        display: inline;
        }

        header a {
            text-decoration: none;
            color:#fce138
        }

        header nav {
            float: right;
            margin: 7px o;
        }

        header nav ul li {
            display: inline;
        }

        Header nav ul li a {
            margin: 0 30px;
            font-weight: lighter;
            font-size: 22px;
        }